projetos/project_students_subjects_school.py/library/interface/__pycache__/project_interfaces.cpython-311.pyc
projetos/project_students_subjects_school.py/library/interface/__pycache__/__init__.cpython-311.pyc
projetos/project_students_subjects_school.py/library/__pycache__/__init__.cpython-311.pyc
projetos/project_students_subjects_school/library/.DS_Store
projetos/project_students_subjects_school/.DS_Store
